
*{
    font-family: Poppins;
}

body{
    margin-right: 72px;
    margin-left: 72px;
    background-color: #F2F9FE;
}


nav{
  
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    
}

.mode a{
    text-decoration: none;
}

.logo, .mode{
    padding: 15px;
    
}

ul{
    list-style-type: none;
    display: flex;
}



.links a{
    margin-right: 35px;
    text-decoration: none;
    color: #111729;
}


.container{
    
    display: flex;
    padding: 50px;
    justify-content: space-between;
    
}




h5{
    font-size: small;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h1{
    color: #111729;
    font-size: 3.75rem;
    font-weight: 800;
    margin: 0;
}

h3{
    color: #909193;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 30px;
}



button{
    padding: 15px 30px;
    font-size: 1rem;
    background-color: #2A4DD0;
    border: none;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    font-weight: 600;
}

#demo{
    text-decoration: underline;
    color: #2A4DD0;
    font-weight: 600;
    margin-left: 20px;

    
}

.requirements{
    display: flex;
    margin-top: 35px;
    align-items: center;
    text-align: center;
    font-size: 0.875rem;
   
}

.requirements p{
    margin-right: 20px;
}

.requirements img{
   margin-right: 10px;
}

.image > img{
    width: 600px;
}


@media screen and (max-width: 640px){
   

    body{
        margin: 0;
        padding: 10px;
    }
   nav{
    margin: 0;
    padding: 0;
   }
    .container{
        flex-direction: column-reverse;
        padding: 0;
    }

    .links a{
        margin-right: 10px;
    }

    .mode{
        display: flex;
    }


}