
*{
    font-family: Poppins;
}

body{
    margin: 40px;
}
nav{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}

.logo, .mode{
    padding: 15px;
}

ul{
    list-style-type: none;
    display: flex;
}



.links a{
    margin-right: 35px;
    text-decoration: none;
}


.container{
    border: 1px solid;
    display: flex;
}

h1{
    color: #111729;
    font-size: 55px;
    font-weight: 900;
}

h3{
    color: #909193;
    font-size: medium;
    font-weight: 500;
    margin-bottom: 30px;
}

h5{
    font-size: small;
}


button{
    padding: 10px 20px;
    background-color: #2A4DD0;
    border-color: #2A4DD0;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    font-weight: 700;
}

#demo{
    text-decoration: underline;
    color: #2A4DD0;
    font-weight: 600;
}

.requirements{
    margin-top: 35px;
}

.image > img{
    width: 500px;
}

